<div class="content-mid-split about-split-margins-horizontal about-split-margins-vertical">
    <div class="content-mid-split-element">
        <h2 class="section-heading">
            About me
        </h2>
    </div>
</div>

<div class="content-mid-split about-split-margins-horizontal">
    <div class="content-mid-split-element about-split-right-padding">
        <div>
            <h4 class="section-content-paragraph section-content-paragraph-top-heading">
                Hi!
            </h4>
            <p class="section-content-paragraph">
                My name is Linda Wong and I am an illustrator based in Stockholm, Sweden. Before my pursuit of becoming
                an
                artist, I worked as a biomedical scientist in the clincial physiology department of Karolinska
                University
                Hospital. During that time I realized that art can not solely be my hobby, I wanted to become a full
                time
                artist. I work mainly with watercolors but I also use markers, gouache, ink and digital programs. My art
                is
                inspired by my love for food, my cultural identity and a lot of cute stuff.
            </p>
            <p class="section-content-paragraph">
                For business enquiries or commissions, please email <a href="mailto:qinmo.art@gmail.com"
                    target="_blank">qinmo.art@gmail.com</a>
            </p>
            <p>&nbsp</p>
            <p class="section-content-paragraph">
                <b>Solo exhibitions:</b>
            </p>
            <p class="section-content-paragraph">
                <i>梦 - mèng - Dream</i>, Kulturhuset Stadsteatern, Stockholm (2022)
            </p>
            <p>&nbsp</p>
            <p class="section-content-paragraph">
                <b>Group exhibitions:</b>
            </p>
            <p class="section-content-paragraph">
                <i>Basis Vårutställning</i>, Basis Konstskola, Stockholm (2024)
            </p>
            <p class="section-content-paragraph">
                <i>“Låt konsten tala”</i>, Skärholmens vårsalong, Stockholm (2023)
            </p>
            <p class="section-content-paragraph">
                <i>Synthetic Biology Art Exhibition</i>, iGem Stockholm, Stockholm (2019)
            </p>
            <p>&nbsp</p>
            <p class="section-content-paragraph">
                <b>Publications:</b>
            </p>
            <p class="section-content-paragraph">
                <i>Brevet från Sverige</i>, Fantasifabriken (2006)
            </p>
        </div>

    </div>
    <div class="content-mid-split-element about-split-left-padding">
        <img id="profile-picture" src="/img/profile.webp" alt="Profile picture">
    </div>
</div>
<div class="center-text-container margin-top-bottom-container">
    <h2 id="online-text">Find me online!</h2>
    <p class="section-content-paragraph">Here is the <a class="black-link"
            href="https://linktr.ee/Qinmo?utm_source=linktree_profile_share&ltsid=bad906d1-2271-4e2f-a2f8-73e1f35b2eda"
            target="_blank">link</a> to my socials &lt3</p>
</div>