<div class="three-column-image-container">
    <img src="/img/cake_animation.gif" alt="Cake animation"> <!-- TODO ändra till helskärmsmöjlig bild-->
    <img src="/img/girl_animation.gif" alt="Girl animation"> <!-- TODO ändra till helskärmsmöjlig bild-->
    <img src="/img/farm_animation.gif" alt="Farm animation"> <!-- TODO ändra till helskärmsmöjlig bild-->
</div>
<div class="centered-video-container">
    <video controls poster="/img/dream_1_poster.png">
        <source src="/video/dream_1.mp4" type="video/mp4">
    </video>
    <p>Ramen - Animatic</p>
</div>