<div class="three-column-image-container">
    <img class="fullscreenable-image" src="/img/cake_animation.gif" alt="Cake animation">
    <img class="fullscreenable-image" src="/img/girl_animation.gif" alt="Girl animation">
    <img class="fullscreenable-image" src="/img/farm_animation.gif" alt="Farm animation">
</div>
<div class="centered-video-container">
    <video controls poster="/img/dream_1_poster.png">
        <source src="/video/dream_1.mp4" type="video/mp4">
    </video>
    <p>Ramen - Animatic</p>
</div>

<script src="/fullscreenable_images.js"></script>