<section>
    <img class="top-background" src="/img/omslag.webp">
    <div class="top-heading-container">
        <h2>BOOKS</h2>
    </div>
</section>

<div style="margin: 100px 200px 50px 200px" class="content-mid-split">
    <div class="content-mid-split-element content-mid-split-element-right">
        <img style="width: 450px" src="/img/himlen_omslag.webp" alt="Cover picture">
    </div>
    <div class="content-mid-split-element content-mid-split-element-left">
        <h4 class="section-content-paragraph section-content-paragraph-top-heading">
            Där himlen finns, finns jag
        </h4>
        <p class="section-content-paragraph thinner-paragraph">
            Författare: Leah Zepeda Persson
        </p>
        <p class="section-content-paragraph thinner-paragraph">
            Där himlen finns, finns jag är en hjärtevärmande berättelse om Valentin, en liten pojke som dog och blev
            en ängel. Valentin föddes med ett hjärtfel och var tvungen att lämna sin familj för att flytta till
            himlen. Men trots att han inte längre finns fysiskt på jorden, fortsätter han att vara en del av sin
            familj. Med hjälp av sina magiska vingar besöker han dem under speciella dagar, såsom födelsedagar, påsk
            och jul.
        </p>
        <p class="section-content-paragraph thinner-paragraph">
            Genom Valentins ögon får läsaren följa hans resor mellan himlen och jorden, där han lämnar små tecken på
            kärlek och närvaro.
        </p>
    </div>
</div>

<div class="three-column-image-container">
    <img class="fullscreenable-image" src="/img/ett_himmelskt_nyar.png" alt="Ett himelskt nyår">
    <img class="fullscreenable-image" src="/img/saknar_min_familj.png" alt="Saknar min familj">
    <img class="fullscreenable-image" src="/img/sportlovsaventyr.png" alt="Sportlovsäventyr">
</div>

<script src="/fullscreenable_images.js"></script>