<div class="content-mid-split about-split-margins">
    <div class="content-mid-split-element">
        <h2 id="commission-heading" class="section-heading">
            Commission Information
        </h2>
    </div>
    <div class="content-mid-split-element">
    </div>

</div>

<div class="content-mid-split books-info-split-margins">
    <div class="content-mid-split-element">
        <img class="commission-img" src="/img/placeholder.webp" alt="Cover picture">
    </div>
    <div class="content-mid-split-element">
        <h4 class="section-content-paragraph section-content-paragraph-top-heading">
            Under construction
        </h4>
        <p class="section-content-paragraph thinner-paragraph">
            Under construction.
        </p>
        <p class="section-content-paragraph thinner-paragraph">
            Under construction.
        </p>
    </div>
</div>

<div class="content-mid-split books-info-split-margins">
    <div class="content-mid-split-element">
        <img id="himlen-book-img" src="/img/placeholder.webp" alt="Cover picture">
    </div>
    <div class="content-mid-split-element">
        <h4 class="section-content-paragraph section-content-paragraph-top-heading">
            Under construction
        </h4>
        <p class="section-content-paragraph thinner-paragraph">
            Under construction.
        </p>
        <p class="section-content-paragraph thinner-paragraph">
            Under construction.
        </p>
    </div>
</div>

<div class="content-mid-split books-info-split-margins">
    <div class="content-mid-split-element">
        <img id="himlen-book-img" src="/img/placeholder.webp" alt="Cover picture">
    </div>
    <div class="content-mid-split-element">
        <h4 class="section-content-paragraph section-content-paragraph-top-heading">
            Under construction
        </h4>
        <p class="section-content-paragraph thinner-paragraph">
            Under construction.
        </p>
        <p class="section-content-paragraph thinner-paragraph">
            Under construction.
        </p>
    </div>
</div>