<div class="content-mid-split about-split-margins">
    <div class="content-mid-split-element">
        <h2 class="section-heading">
            Commission Information
        </h2>
    </div>
    <div class="content-mid-split-element">
    </div>

</div>

<div class="content-mid-split books-info-split-margins">
    <div class="content-mid-split-element">
        <img id="himlen-book-img" src="/img/himlen_omslag.webp" alt="Cover picture">
    </div>
    <div class="content-mid-split-element">
        <h4 class="section-content-paragraph section-content-paragraph-top-heading">
            Lorem Ipsum
        </h4>
        <p class="section-content-paragraph thinner-paragraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas orci nisl, sagittis at consequat id, venenatis ut mi. Curabitur placerat sollicitudin magna, et tristique erat mollis et. Nullam blandit nec mi ut vestibulum. Phasellus scelerisque lacinia elit, eget laoreet nisi pellentesque ac. Proin rhoncus erat eget ante condimentum, eget lobortis nisi sagittis. Mauris ac dolor consectetur massa porttitor vestibulum. Etiam in turpis urna. Nam maximus nunc non ipsum mattis, a scelerisque neque ullamcorper. Fusce fringilla auctor rutrum. Etiam iaculis dui in nisi viverra euismod. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis ut vestibulum augue. In hac habitasse platea dictumst. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac malesuada sem, vel imperdiet augue. Etiam hendrerit consectetur lectus, congue ultricies quam tristique vitae.
        </p>
        <p class="section-content-paragraph thinner-paragraph">
            Proin condimentum ipsum ullamcorper, iaculis turpis a, pretium dolor. Nunc mauris ligula, congue ut enim non, molestie pulvinar turpis. Ut placerat sem id urna varius, in semper nisl mollis. Fusce quis dui a quam efficitur cursus. Mauris nec ligula ac nulla consectetur euismod. Nam justo lacus, ultricies molestie pulvinar sit amet, pellentesque vel purus. Morbi dignissim in velit id lacinia. Fusce posuere consectetur felis pulvinar consequat.
        </p>
    </div>
</div>