<div class="image-gallery">
    <div class="image-gallery-column">
        <img src="/img/duck_spread.webp"> <!-- TODO ändra till helskärmsmöjlig bild-->
        <img src="/img/ankbåt.webp"> <!-- TODO ändra till helskärmsmöjlig bild-->
        <img src="/img/jordgubsgurl.webp"> <!-- TODO ändra till helskärmsmöjlig bild-->
        <img src="/img/statue_sunset.webp"> <!-- TODO ändra till helskärmsmöjlig bild-->
        <img src="/img/beary.webp"> <!-- TODO ändra till helskärmsmöjlig bild-->
        <img src="/img/capys.webp"> <!-- TODO ändra till helskärmsmöjlig bild-->
        <img src="/img/picknick.webp"> <!-- TODO ändra till helskärmsmöjlig bild-->
        <img src="/img/duck_butt_klar.webp"> <!-- TODO ändra till helskärmsmöjlig bild-->
        <img src="/img/quilt.webp"> <!-- TODO ändra till helskärmsmöjlig bild-->
        <img src="/img/duck_susi.webp"> <!-- TODO ändra till helskärmsmöjlig bild-->
    </div>
    <div class="image-gallery-column">
        <img src="/img/castle_vista.webp"> <!-- TODO ändra till helskärmsmöjlig bild-->
        <img src="/img/swan-kids.webp"> <!-- TODO ändra till helskärmsmöjlig bild-->
        <img src="/img/semla_making.webp"> <!-- TODO ändra till helskärmsmöjlig bild-->
        <img src="/img/duck_gang.webp"> <!-- TODO ändra till helskärmsmöjlig bild-->
        <img src="/img/faires.webp"> <!-- TODO ändra till helskärmsmöjlig bild-->
        <img src="/img/girls.webp"> <!-- TODO ändra till helskärmsmöjlig bild-->
        <img src="/img/ghost.webp"> <!-- TODO ändra till helskärmsmöjlig bild-->
        <img src="/img/uppslagfinished.webp"> <!-- TODO ändra till helskärmsmöjlig bild-->
        <p>Text © Lennart Hellsing</p>
        <img src="/img/jordgubb.webp"> <!-- TODO ändra till helskärmsmöjlig bild-->
        <img src="/img/duck_snacks.webp"> <!-- TODO ändra till helskärmsmöjlig bild-->
    </div>
    <div class="image-gallery-column">
        <img src="/img/cottage.webp"> <!-- TODO ändra till helskärmsmöjlig bild-->
        <img src="/img/duck_sushi.webp"> <!-- TODO ändra till helskärmsmöjlig bild-->
        <img src="/img/spooky_shake.webp"> <!-- TODO ändra till helskärmsmöjlig bild-->
        <img src="/img/semla_lid.webp"> <!-- TODO ändra till helskärmsmöjlig bild-->
        <img src="/img/beary_bakery.webp"> <!-- TODO ändra till helskärmsmöjlig bild-->
        <img src="/img/dropped_ice_cream.webp"> <!-- TODO ändra till helskärmsmöjlig bild-->
        <img src="/img/washitape_princess.webp"> <!-- TODO ändra till helskärmsmöjlig bild-->
        <img src="/img/sheep.webp"> <!-- TODO ändra till helskärmsmöjlig bild-->
    </div>
</div>