<div class="image-gallery">
    <div class="image-gallery-column">
        <img class="fullscreenable-image" src="/img/duck_spread.webp">
        <img class="fullscreenable-image" src="/img/ankbåt.webp">
        <img class="fullscreenable-image" src="/img/jordgubsgurl.webp">
        <img class="fullscreenable-image" src="/img/statue_sunset.webp">
        <img class="fullscreenable-image" src="/img/beary.webp">
        <img class="fullscreenable-image" src="/img/capys.webp">
        <img class="fullscreenable-image" src="/img/picknick.webp">
        <img class="fullscreenable-image" src="/img/duck_butt_klar.webp">
        <img class="fullscreenable-image" src="/img/quilt.webp">
        <img class="fullscreenable-image" src="/img/duck_susi.webp">
    </div>
    <div class="image-gallery-column">
        <img class="fullscreenable-image" src="/img/castle_vista.webp">
        <img class="fullscreenable-image" src="/img/swan-kids.webp">
        <img class="fullscreenable-image" src="/img/semla_making.webp">
        <img class="fullscreenable-image" src="/img/duck_gang.webp">
        <img class="fullscreenable-image" src="/img/faires.webp">
        <img class="fullscreenable-image" src="/img/girls.webp">
        <img class="fullscreenable-image" src="/img/ghost.webp">
        <img class="fullscreenable-image" src="/img/uppslagfinished.webp">
        <p>Text © Lennart Hellsing</p>
        <img class="fullscreenable-image" src="/img/jordgubb.webp">
        <img class="fullscreenable-image" src="/img/duck_snacks.webp">
    </div>
    <div class="image-gallery-column">
        <img class="fullscreenable-image" src="/img/cottage.webp">
        <img class="fullscreenable-image" src="/img/duck_sushi.webp">
        <img class="fullscreenable-image" src="/img/spooky_shake.webp">
        <img class="fullscreenable-image" src="/img/semla_lid.webp">
        <img class="fullscreenable-image" src="/img/beary_bakery.webp">
        <img class="fullscreenable-image" src="/img/dropped_ice_cream.webp">
        <img class="fullscreenable-image" src="/img/washitape_princess.webp">
        <img class="fullscreenable-image" src="/img/sheep.webp">
    </div>
</div>

<script src="/fullscreenable_images.js"></script>